
.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}
.model-title-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-button{
    padding: 4px;
    color: white;
    border-bottom: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.493);
    margin-top: 8px;
}
.close-button:hover{
    border-bottom: 1px solid white;
}
.modelContainer{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    color: white;
    padding: 16px;
    box-sizing: border-box;
    gap: 8px;
}
.mobilenetbg{
    background-color: #0f084b9c;
}

.resnetbg{
    background-color: #000000c6;
}
.xceptionbg{
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .body-container{
        margin-top: 2vh;
        margin: 8px;
    }
    .container-title{
        font-size: .7em;
    }
  }