.modelInputContainer{
    padding: 12px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 4px;
    flex: 1;
}
.container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 32vh;
}
input{
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.container-title{
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}
h3{
    font-size: 1.6em;
    color: white;
    font-weight: bold;
}
.note{
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.747);
    background-color: black;
    font-size: .7em;
    margin-bottom: 128px;
}
input[type="number"]{
    text-align: center;
    width: fit-content;
    border-radius: 0;
}