.navbar{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #0D0221;
    
}
.nav-links > a, .navbar{
    color: white;
}
.navbar-logo{
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
}
.nav-links{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 16px;
}
.inactive{
    cursor: pointer;
    border-bottom: 1px transparent;
}
.nav-links li:hover {
    border-bottom: 1px solid;
}
.active{
    cursor: pointer;
    border-bottom: 1px solid;
}

@media only screen and (max-width: 600px) {
    .navbar{
        padding: 8px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .navbar-logo{
        font-size: 16px;
        text-align: center;
    }
    ul{
        font-size: 12px;
    }
}