.navbar{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #453750;
}
.nav-links > a{
    color: white;
}
.navbar-logo{
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
}
.nav-links{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 16px;
}
.inactive{
    cursor: pointer;
    border-bottom: 1px transparent;
}
.nav-links li:hover {
    border-bottom: 1px solid;
}
.active{
    cursor: pointer;
    border-bottom: 1px solid;
}